extends layout_employee

block content

 - let curr = new Date()
 - let startdate = new Date(curr.getFullYear(), 0, 1);
 - let year = curr.getFullYear()
 - let month = curr.getMonth() + 1
 - let day = curr.getDate()
 - const month_string = curr.toLocaleString('default', { month: 'long' });


 br
 
 h1.homepage(style='text-align: center;')= title
 h4(style='text-align: center;')= day + '.' +  ' '+ month_string + ' ' + year

 br
 br

 table(style='width:66%; margin-right:auto; margin-left:auto;', border='1')
        tr
            th Employees
            th(style='border-left: 10px;') Shifts
        each user in user_list
            each shift in shift_list
                if (user._id.toString() === shift.user._id.toString() && shift.dd === day && shift.month === month)
                    tr
                        th= user.firstname + ' ' + user.lastname
                        td
                            p(style='margin-bottom: 0px;')= shift.date_yyyy_mm_dd
                            p(style='margin-bottom: 0px;')= shift.timestart + "-" + shift.timeend